---
import astroLogo from "../assets/logoicon.jpg";
---

<div class="logo">
  <a href="https://astro.build"
    ><img src={astroLogo.src} width="115" height="48" alt="GCAA Homepage" /></a
  >

  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/actives/">Active</a>
    <a href="/join/">Join</a>
    <a href="/events/">Events</a>
  </div>
</div>

